@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full relative;

  @screen xs {
    font-size: 16px;
  }

  @screen sm {
    font-size: 18px;
  }

  @screen lg {
    font-size: 20px;
  }
}

body {
  @apply h-full relative;
}